<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
</head>
<body>
<div id="container">
    <h1>Welcome to FlaskBlog</h1>
    <form method="post">
        <div class="form-group">
            <label htmlfor="display-combined">Combined</label>
            <input id="display-combined" type="radio" name="display" value="combined"/>
        </div>
        <div class="form-group">
            <label htmlfor="display-octopus">Octopus Agile Tariff</label>
            <input id="display-octopus" type="radio" name="display" value="octopus"/>
        </div>
        <div class="form-group">
            <label htmlfor="display-forecast">Forecast</label>
            <input id="display-forecast" type="radio" name="display" value="forecast"/>
        </div>
        <div class="form-group">
            <label htmlfor="display-generation">Local generation</label>
            <input id="display-generation" type="radio" name="display" value="generation"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
